.modalBackground {
  width: 50vw;
  height: 26vw;
  background-color: #25820e;
  position: fixed;
  margin-left: 25%;
  transition: all 0, 90s ease-out;
  border-radius: 9px;
  display: flex;
  justify-content: space-between;
  z-index: 20;
}

.modalContainer {
display: inline-block;
margin-right: 10%;
margin-top: 9%;
}
.titleClooseBtn {
  display: flex;
  justify-content: flex-end;
  background-color: transparent;
  border: none;
  font-size: 25px;
  cursor: pointer;
  border-radius: 9px;
}


/* .modalContainer .body {
  flex: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1, 7rem;
  text-align: center;
} */
/* .modalContainer .footer {
  flex: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
} */

.button-login{
  border-radius: 8px;
  border: none;
  margin-top: 10px;
}
.modalContainer .footer button {

  margin: 10px;
  border: none;
  background-color:gray;
  color: white;
  border-radius: 8px;
  font-size: 12px;
  cursor: pointer;
}

#cancelBtn {
  background-color: brown;
  
}
.modal-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.modal-picture-container {
  height: 100%;
  
 
  width:490px;
}
.body-form {
  padding-top: 2px;
  
}

.input-login{
  height: 2vw;
  width: 290px;
  border-radius: 6px;
  
}

